n8n-workflows/02-daily-broll-generation.json
{
  "name": "02-daily-broll-generation",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "cronExpression", "expression": "0 2 * * *" }]
        }
      },
      "id": "cron-trigger",
      "name": "Cron Trigger (Daily 2am)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [0, 0]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select * from reels_queue where status='draft' and broll_prompt is not null and scheduled_for < now() + interval '2 days' order by scheduled_for asc"
      },
      "id": "supabase-query",
      "name": "Supabase Query (draft+broll)",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [200, 0],
      "credentials": { "supabaseApi": { "id": "supabase-cred", "name": "Supabase API" } }
    },
    {
      "parameters": {
        "jsCode": "// Cost guard: abort if > VEO_MONTHLY_LIMIT generations this month\nconst limit = parseInt(process.env.VEO_MONTHLY_LIMIT ?? '25', 10);\nconst { createClient } = require('@supabase/supabase-js');\nconst sb = createClient(process.env.SUPABASE_URL, process.env.SUPABASE_SERVICE_ROLE_KEY);\nconst { count } = await sb\n  .from('reels_queue')\n  .select('id', { count: 'exact', head: true })\n  .not('broll_url', 'is', null)\n  .gte('created_at', new Date(new Date().getFullYear(), new Date().getMonth(), 1).toISOString());\nif ((count ?? 0) >= limit) {\n  throw new Error(`Monthly Veo limit of ${limit} reached (${count} generated). Aborting.`);\n}\nreturn $input.all();"
      },
      "id": "cost-guard",
      "name": "Cost Guard",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [400, 0]
    },
    {
      "parameters": { "batchSize": 1, "options": {} },
      "id": "split-batches",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [600, 0]
    },
    {
      "parameters": {
        "url": "https://generativelanguage.googleapis.com/v1beta/models/veo-3.1-fast-preview:predictLongRunning",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "x-goog-api-key", "value": "={{ $env.GEMINI_API_KEY }}" }]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "body": {
          "instances": [{ "prompt": "={{ $json.broll_prompt }}" }],
          "parameters": {
            "aspectRatio": "9:16",
            "resolution": "1080p",
            "duration": 8,
            "generateAudio": true
          }
        }
      },
      "id": "veo-submit",
      "name": "HTTP Request (Veo Submit)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [800, 0]
    },
    {
      "parameters": {
        "amount": 30,
        "unit": "seconds"
      },
      "id": "wait-node",
      "name": "Wait 30s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1000, 0]
    },
    {
      "parameters": {
        "url": "=https://generativelanguage.googleapis.com/v1beta/{{ $('HTTP Request (Veo Submit)').item.json.name }}",
        "method": "GET",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "x-goog-api-key", "value": "={{ $env.GEMINI_API_KEY }}" }]
        }
      },
      "id": "veo-poll",
      "name": "HTTP Request (Veo Poll)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1200, 0]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [{ "value1": "={{ $json.done }}", "value2": true }]
        }
      },
      "id": "if-done",
      "name": "IF Done",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1400, 0]
    },
    {
      "parameters": {
        "url": "={{ $json.response.videos[0].uri }}",
        "method": "GET",
        "responseFormat": "file"
      },
      "id": "download-video",
      "name": "Download Video",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1600, -100]
    },
    {
      "parameters": {
        "url": "=https://{{ $env.R2_ACCOUNT_ID }}.r2.cloudflarestorage.com/{{ $env.R2_BUCKET }}/broll/{{ $('Split In Batches').item.json.id }}.mp4",
        "method": "PUT",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "content-type", "value": "video/mp4" }]
        },
        "sendBody": true,
        "bodyContentType": "binaryData",
        "inputDataFieldName": "data"
      },
      "id": "r2-upload",
      "name": "R2 Upload",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1800, -100]
    },
    {
      "parameters": {
        "operation": "update",
        "schema": "public",
        "table": "reels_queue",
        "filters": { "conditions": [{ "keyName": "id", "condition": "eq", "keyValue": "={{ $('Split In Batches').item.json.id }}" }] },
        "fieldsToSend": "defineBelow",
        "dataToSend": {
          "values": [
            { "fieldId": "broll_url", "fieldValue": "={{ $env.R2_PUBLIC_BASE_URL }}/broll/{{ $('Split In Batches').item.json.id }}.mp4" },
            { "fieldId": "status", "fieldValue": "=={{ ['operator_wisdom','pnw_identity'].includes($('Split In Batches').item.json.pillar) ? 'ready' : 'broll_ready' }}" }
          ]
        }
      },
      "id": "supabase-update",
      "name": "Supabase Update (broll_url)",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [2000, -100],
      "credentials": { "supabaseApi": { "id": "supabase-cred", "name": "Supabase API" } }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": "public",
        "table": "reels_queue",
        "filters": { "conditions": [{ "keyName": "id", "condition": "eq", "keyValue": "={{ $('Split In Batches').item.json.id }}" }] },
        "fieldsToSend": "defineBelow",
        "dataToSend": {
          "values": [
            { "fieldId": "status", "fieldValue": "draft" },
            { "fieldId": "notes", "fieldValue": "Veo generation failed; retrying next cycle." }
          ]
        }
      },
      "id": "error-update",
      "name": "Supabase Update (error)",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1600, 100],
      "credentials": { "supabaseApi": { "id": "supabase-cred", "name": "Supabase API" } }
    },
    {
      "parameters": {
        "url": "={{ $env.ALERT_WEBHOOK_URL }}",
        "method": "POST",
        "sendBody": true,
        "bodyContentType": "json",
        "body": { "content": "⚠️ **Veo B-roll failed** for reel `{{ $('Split In Batches').item.json.id }}`: {{ $json.error }}" }
      },
      "id": "error-alert",
      "name": "Error Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1800, 100]
    }
  ],
  "connections": {
    "Cron Trigger (Daily 2am)": { "main": [[{ "node": "Supabase Query (draft+broll)", "type": "main", "index": 0 }]] },
    "Supabase Query (draft+broll)": { "main": [[{ "node": "Cost Guard", "type": "main", "index": 0 }]] },
    "Cost Guard": { "main": [[{ "node": "Split In Batches", "type": "main", "index": 0 }]] },
    "Split In Batches": { "main": [[{ "node": "HTTP Request (Veo Submit)", "type": "main", "index": 0 }]] },
    "HTTP Request (Veo Submit)": { "main": [[{ "node": "Wait 30s", "type": "main", "index": 0 }]] },
    "Wait 30s": { "main": [[{ "node": "HTTP Request (Veo Poll)", "type": "main", "index": 0 }]] },
    "HTTP Request (Veo Poll)": { "main": [[{ "node": "IF Done", "type": "main", "index": 0 }]] },
    "IF Done": {
      "main": [
        [{ "node": "Download Video", "type": "main", "index": 0 }],
        [{ "node": "Wait 30s", "type": "main", "index": 0 }]
      ]
    },
    "Download Video": { "main": [[{ "node": "R2 Upload", "type": "main", "index": 0 }]] },
    "R2 Upload": { "main": [[{ "node": "Supabase Update (broll_url)", "type": "main", "index": 0 }]] }
  },
  "settings": {},
  "staticData": null,
  "tags": ["reels-automation"],
  "triggerCount": 1,
  "updatedAt": "2026-04-18T00:00:00.000Z",
  "versionId": "1"
}
