n8n-workflows/04-auto-edit-submagic.json
{
  "name": "04-auto-edit-submagic",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "04-auto-edit",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=select * from reels_queue where id = '{{ $json.body.reel_id }}' limit 1"
      },
      "id": "fetch-reel",
      "name": "Fetch Reel Row",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        200,
        0
      ],
      "credentials": {
        "supabaseApi": {
          "id": "supabase-cred",
          "name": "Supabase API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.pillar }}",
              "operation": "regex",
              "value2": "^(build_in_public|trades_to_tech)$"
            }
          ]
        }
      },
      "id": "if-needs-recording",
      "name": "IF: Needs Recording",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        400,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// Use raw_clip_url for talking-head pillars\nreturn [{ json: { ...($input.first().json), video_url: $input.first().json.raw_clip_url } }];"
      },
      "id": "use-raw-clip",
      "name": "Use Raw Clip",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        600,
        -100
      ]
    },
    {
      "parameters": {
        "jsCode": "// Use broll_url for wisdom/identity pillars (Veo output, needs text burned in)\nreturn [{ json: { ...($input.first().json), video_url: $input.first().json.broll_url } }];"
      },
      "id": "use-broll",
      "name": "Use B-roll",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        600,
        100
      ]
    },
    {
      "parameters": {
        "url": "https://api.submagic.co/v1/projects",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.SUBMAGIC_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "body": {
          "video_url": "={{ $json.video_url }}",
          "language": "en",
          "template": "bold-white",
          "auto_cut": true
        },
        "options": {
          "response": {
            "response": {
              "neverError": false
            }
          }
        }
      },
      "id": "submagic-submit",
      "name": "Submagic Submit",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        800,
        0
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "amount": 60,
        "unit": "seconds"
      },
      "id": "wait-submagic",
      "name": "Wait 60s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1000,
        -50
      ]
    },
    {
      "parameters": {
        "url": "=https://api.submagic.co/v1/projects/{{ $('Submagic Submit').item.json.project_id }}",
        "method": "GET",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.SUBMAGIC_API_KEY }}"
            }
          ]
        }
      },
      "id": "submagic-poll",
      "name": "Submagic Poll",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        -50
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Track poll count in workflow staticData; bail to FFmpeg after 10 attempts (~10 min)\nconst key = `sm_${$('Fetch Reel Row').item.json.id}`;\nconst data = $getWorkflowStaticData('node');\nconst attempts = (data[key] ?? 0) + 1;\ndata[key] = attempts;\nconst status = $input.first().json.status;\nif (status === 'completed') {\n  delete data[key];\n  return [[{ json: $input.first().json }], [], []];\n}\nif (status === 'failed' || attempts >= 10) {\n  delete data[key];\n  return [[], [], [{ json: { reason: status === 'failed' ? 'submagic_failed' : 'submagic_timeout', attempts } }]];\n}\nreturn [[], [{ json: $input.first().json }], []];"
      },
      "id": "branch-submagic",
      "name": "Branch Submagic Status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1400,
        -50
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.output_url }}",
        "method": "GET",
        "responseFormat": "file"
      },
      "id": "download-final",
      "name": "Download Final Video",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1600,
        -150
      ]
    },
    {
      "parameters": {
        "operation": "upload",
        "bucketName": "={{ $env.R2_BUCKET }}",
        "fileName": "=final/{{ $('Fetch Reel Row').item.json.id }}.mp4",
        "binaryPropertyName": "data",
        "additionalFields": {
          "contentType": "video/mp4"
        }
      },
      "id": "r2-upload-final",
      "name": "R2 Upload Final",
      "type": "n8n-nodes-base.awsS3",
      "typeVersion": 1,
      "position": [
        1800,
        -150
      ],
      "credentials": {
        "aws": {
          "id": "r2-cred",
          "name": "Cloudflare R2"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": "public",
        "table": "reels_queue",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Fetch Reel Row').item.json.id }}"
            }
          ]
        },
        "fieldsToSend": "defineBelow",
        "dataToSend": {
          "values": [
            {
              "fieldId": "final_reel_url",
              "fieldValue": "={{ $env.R2_PUBLIC_BASE_URL }}/final/{{ $('Fetch Reel Row').item.json.id }}.mp4"
            },
            {
              "fieldId": "status",
              "fieldValue": "ready"
            }
          ]
        }
      },
      "id": "supabase-update-ready",
      "name": "Supabase Update (ready)",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2000,
        -150
      ],
      "credentials": {
        "supabaseApi": {
          "id": "supabase-cred",
          "name": "Supabase API"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $env.ALERT_WEBHOOK_URL }}",
        "method": "POST",
        "sendBody": true,
        "bodyContentType": "json",
        "body": {
          "content": "✅ **Reel ready for review**: {{ $('Fetch Reel Row').item.json.hook }}\nScheduled: {{ $('Fetch Reel Row').item.json.scheduled_for }}"
        }
      },
      "id": "notify-ready",
      "name": "Notify Ready",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2200,
        -150
      ]
    },
    {
      "parameters": {
        "command": "=set -euo pipefail\nSRC=\"{{ $('Fetch Reel Row').item.json.video_url ?? $('Fetch Reel Row').item.json.broll_url ?? $('Fetch Reel Row').item.json.raw_clip_url }}\"\nTXT=$(printf %q \"{{ ($('Fetch Reel Row').item.json.text_overlay ?? '').replace(/'/g, \"'\\\\''\") }}\")\nOUT=\"/tmp/{{ $('Fetch Reel Row').item.json.id }}_fallback.mp4\"\ncurl -fsSL \"$SRC\" -o /tmp/src_{{ $('Fetch Reel Row').item.json.id }}.mp4\nffmpeg -y -i /tmp/src_{{ $('Fetch Reel Row').item.json.id }}.mp4 \\\n  -vf \"drawtext=text=${TXT}:fontcolor=white:fontsize=64:box=1:boxcolor=black@0.5:boxborderw=16:x=(w-text_w)/2:y=h*0.82\" \\\n  -c:a copy -movflags +faststart \"$OUT\"\necho \"$OUT\""
      },
      "id": "ffmpeg-fallback",
      "name": "FFmpeg Fallback (burn text)",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1600,
        150
      ]
    },
    {
      "parameters": {
        "fileSelector": "=/tmp/{{ $('Fetch Reel Row').item.json.id }}_fallback.mp4",
        "options": {}
      },
      "id": "read-fallback-file",
      "name": "Read Fallback File",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [
        1800,
        150
      ]
    },
    {
      "parameters": {
        "operation": "upload",
        "bucketName": "={{ $env.R2_BUCKET }}",
        "fileName": "=final/{{ $('Fetch Reel Row').item.json.id }}.mp4",
        "binaryPropertyName": "data",
        "additionalFields": {
          "contentType": "video/mp4"
        }
      },
      "id": "r2-upload-fallback",
      "name": "R2 Upload Fallback",
      "type": "n8n-nodes-base.awsS3",
      "typeVersion": 1,
      "position": [
        2000,
        150
      ],
      "credentials": {
        "aws": {
          "id": "r2-cred",
          "name": "Cloudflare R2"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": "public",
        "table": "reels_queue",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Fetch Reel Row').item.json.id }}"
            }
          ]
        },
        "fieldsToSend": "defineBelow",
        "dataToSend": {
          "values": [
            {
              "fieldId": "final_reel_url",
              "fieldValue": "={{ $env.R2_PUBLIC_BASE_URL }}/final/{{ $('Fetch Reel Row').item.json.id }}.mp4"
            },
            {
              "fieldId": "status",
              "fieldValue": "ready"
            },
            {
              "fieldId": "notes",
              "fieldValue": "Edited via FFmpeg fallback (Submagic unavailable)."
            }
          ]
        }
      },
      "id": "supabase-update-fallback",
      "name": "Supabase Update (ready, fallback)",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2200,
        150
      ],
      "credentials": {
        "supabaseApi": {
          "id": "supabase-cred",
          "name": "Supabase API"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $env.ALERT_WEBHOOK_URL }}",
        "method": "POST",
        "sendBody": true,
        "bodyContentType": "json",
        "body": {
          "content": "⚠️ **FFmpeg fallback used** for reel `{{ $('Fetch Reel Row').item.json.id }}` — Submagic unavailable. Reel is ready but captions are basic text-burn."
        }
      },
      "id": "notify-fallback",
      "name": "Notify Fallback",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2400,
        150
      ]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Fetch Reel Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Reel Row": {
      "main": [
        [
          {
            "node": "IF: Needs Recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: Needs Recording": {
      "main": [
        [
          {
            "node": "Use Raw Clip",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Use B-roll",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Use Raw Clip": {
      "main": [
        [
          {
            "node": "Submagic Submit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Use B-roll": {
      "main": [
        [
          {
            "node": "Submagic Submit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Submagic Submit": {
      "main": [
        [
          {
            "node": "Wait 60s",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "FFmpeg Fallback (burn text)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 60s": {
      "main": [
        [
          {
            "node": "Submagic Poll",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Submagic Poll": {
      "main": [
        [
          {
            "node": "Branch Submagic Status",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "FFmpeg Fallback (burn text)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Branch Submagic Status": {
      "main": [
        [
          {
            "node": "Download Final Video",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 60s",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "FFmpeg Fallback (burn text)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Final Video": {
      "main": [
        [
          {
            "node": "R2 Upload Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "R2 Upload Final": {
      "main": [
        [
          {
            "node": "Supabase Update (ready)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Update (ready)": {
      "main": [
        [
          {
            "node": "Notify Ready",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FFmpeg Fallback (burn text)": {
      "main": [
        [
          {
            "node": "Read Fallback File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Fallback File": {
      "main": [
        [
          {
            "node": "R2 Upload Fallback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "R2 Upload Fallback": {
      "main": [
        [
          {
            "node": "Supabase Update (ready, fallback)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Update (ready, fallback)": {
      "main": [
        [
          {
            "node": "Notify Fallback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "tags": [
    "reels-automation"
  ],
  "triggerCount": 0,
  "updatedAt": "2026-04-18T00:00:00.000Z",
  "versionId": "2"
}